html(ng-app="demoApp")
  header
    title Documental Image Viewer Demo Page
  body(ng-controller="DemoController as demo")
    h1 Documental Image Viewer Demo
    h2 Hello {{demo.name}}
    button(ng-click="demo.changeName()") Cargar apellido
    .image-list
      ul
        li
          p Imagen 1

    .image-viewer
      dociv-image-viewer(images="")
